# My First Program

This program will print just my name

In [1]:
my_name = 'Shanmugam'
print("My name is : " + my_name)

My name is : Shanmugam

In [3]:
x = 25 ## Numerical variable
type(x)

int

In [1]:
x = 'Shan' ## This my string variable
print(type(x))  ## Checking the type of the variable

##Declaring a numeric variable
y = 25
#x = 5
print(type(y))

if (x == 'Shan' or y == 30) :
    print(x, str(y), sep='|')
else :
    print(x * y)

<class 'str'>
<class 'int'>
Shan|25

In [2]:
name = 'Shan'
age = 55
marital_status = 'Married'
salary = '1L'

print(type(name))
print(type(age))
print(type(marital_status))
print(type(salary))

print("The Name is : " + name + "\n", marital_status, age, salary)

<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
The Name is : Shan
 Married 55 1L

In [4]:
x=y=z=10
print(x,y,z)

x = x*2
print(x,y,z)

10 10 10
20 10 10

In [5]:
x, y, z = 10,'Shan',True

In [6]:
print(x, y, z)

price = 25.35
quantity = 30

print(type(price), type(quantity))


name = 'Aravind'

type(name)

10 Shan True
<class 'float'> <class 'int'>

str

In [8]:
isTrue = True
type(isTrue)

bool

In [7]:
qty = 10
price = 20.5
total_price = 0

print(type(qty), type(price), type(total_price))

<class 'int'> <class 'float'> <class 'int'>

In [16]:
total_price = qty * price
print(total_price)
print(type(qty), type(price), type(total_price))

205.0
<class 'int'> <class 'float'> <class 'float'>

When I assign the value 0 to total_price, the type of total_price is 'int'.  When I multiply qty  with price, and assign the value to total_price, the type of total_price will be changed to "float".

In [5]:
x = y = z = 25
print(x, y, z)
y += 5
y = y + 5
print(x, y, z)

x, y, z = 10, 20 ,30
print(x, y, z)

25 25 25
25 30 25
10 20 30

In [34]:
total_price = qty * price
print(type(qty), type(price), type(total_price))

<class 'int'> <class 'float'> <class 'float'>

In [ ]:
x,y,z=10,20,30

name = input('Enter your name : ')
print(name)

Price = float(input("Enter your Price : "))
print(Price)

if (age < 20) :
    print(name, age)
else :
    print('Young Adult')

#a=int(input("Enter x:"))
#b=int(input("Enter y:"))
#c=int(input("Enter z:"))
a, b, c = x, y, z

b = 25
if(a==x and b==y and c==z):
    print("Correct.")
else:
    print("Incorrect")

In [ ]:
name = "XYZ"
isStudent = True
hasfeePaid = False

if ( isStudent and hasfeePaid) :
    print(name, "paid fees!")
else :
    print(name, "has not paid fees!")
    
xyz = 0    
print(type(xyz))

boolxyz = bool(xyz)
print(type(boolxyz))
print(boolxyz)

price = 23.45
intprice = int(price)
print(intprice)

In [22]:
y = '2.0'
x = 10
print(type(x), type(y))
z = float(y)
print(type(y), type(z))
print(x + z)

<class 'int'> <class 'str'>
<class 'str'> <class 'float'>
12.0

In [57]:
y = '-'
x = 100
z = 0
z = x * y
print(z)

----------------------------------------------------------------------------------------------------

### Function Examples

In [1]:
# sum() is a system function
sum([10,25, 36])

l1 = 10
l2 = 22
l3 = 35
print(l1+ l2 + l3)
avgvalue = sum([l1, l2, l3])/3
print(avgvalue)

import numpy
numpy.mean([l1, l2, l3])

var=9.5

#var ** 0.5
numpy.sqrt(var)

67
22.333333333333332

3.082207001484488

In [2]:
x = (10, 20, 56)
print(x)
y = ('a','b','c')
print(y)

(10, 20, 56)
('a', 'b', 'c')

In [ ]:
print("first String " + ' second string')

In [2]:
def addnumbers(x, y) :
    return x+y

def multiplynos(x, y, z) :
    return x * y * z
x = input()
y= input()
result = addnumbers(x,y)
print(result)

result = multiplynos(20, 25, 10)
print(result)

result = multiplynos(10,35,10)
print(result)

5
7
57
5000
3500

In [68]:
price = 20.5
qty = 10
total_price = multiplynos(price, qty)
print(total_price)
print(multiplynos(10,2.5))

205.0
25.0

In [13]:
def increment(salary, percentage = 10.0) :
    increase = salary * (percentage/100)
    increased_salary = salary + increase
    return increased_salary

In [50]:
shansal = 10000
shannewsal = increment(shansal,15)
print(shannewsal)

11500.0

In [74]:
ysal = increment(15000, 7.5)
print(ysal)

16125.0

In [17]:
## Defining the functon
def prtname(name) :
    print("The given name is :",name)

In [18]:
## I am calling the function to perform the operation
name = "John"
return_value =prtname(name)
print(return_value)

The given name is : John
None

In [19]:
print('John','Amy','Smith',sep='\n')

print("My Name's")

John
Amy
Smith
My Name's

In [20]:
def prtstr(strprint) :
    print(strprint)

In [91]:
prtname("Amy")

The given name is : Amy

In [92]:
print("Amy")

Amy

### Operators Example

Hereafter we are going demonstrate various python operators.

In [62]:
## Addition Operator
x = 25
y = 30
print(x + y)

a = "I am"
b = " Male"
print(a + b)

55
I am Male

In [66]:
## Multiplication
print(x * y)
a = "Shan "
#a = 22
b = 10
print(a * b)

750
Shan Shan Shan Shan Shan Shan Shan Shan Shan Shan

In [67]:
## Division
print( y / x)

1.2

In [69]:
## Modulus Division
print( y % x)

1

In [68]:
## Floor Division
y = 5
x = 2
print(y // x)
print( y % x)

2
1

In [70]:
## Exponentiation
x = 3
y = 3
print(x ** y)

27

In [71]:
x = 4
print(x **  0.5)

2.0

In [21]:
## Return variable assignment
name = input("Enter your name: ")
print(name)

Enter your name: Raj
Raj

In [22]:
Number = int(input("Enter any number : "))
type(Number)

Enter any number : 100

int

#### Relational Operators

In [23]:
amy_age = 25
john_age = 30

## Equal to operator
print(amy_age == john_age)

if (amy_age == john_age) :
    print(" Both Amy and John have same age")
else :
    print(" Amy and John have difference in their age")

## Greater Than Operator
print(john_age > amy_age)

## Greater than or equal to
print(john_age >= amy_age)

## less Than Operator
print(john_age < amy_age)

## less than or equal to
print(john_age <= amy_age)

## Not equal to
print(john_age != amy_age)

False
 Amy and John have difference in their age
True
True
False
False
True

#### Logical Operators

**and, or and not** are logical operators

##### and Operator
* True and True = True
* True and False = False
* False and True = False
* False and False = False

##### or Operator
* True or True = True
* True or False = True
* False or True = True
* False or False = False

##### not operator
* not(False) = True
* not(True) = False

In [26]:
isStudent = True
inCollege = True
inSchool = False

isStudent or inCollege

True

In [7]:
print(isStudent and inSchool)
print(isStudent or inSchool)

False
True

In [79]:
isStudent or inSchool

True

In [80]:
not(inCollege)

False

In [81]:
not(inSchool)

True

In [9]:
isStudent = True
hasPaidFee = True

if (isStudent and not(hasPaidFee)) :
    print("Send reminder to student")

##### Membership Operators
**in** and **not in** are membership operators

In [83]:
vowels = 'aeiou'

'e' in vowels

True

In [84]:
'h' in vowels

False

In [85]:
'b' not in vowels

True

In [86]:
'a' not in vowels

False

#### Control Statements
** if ** Statement

In [27]:
num = 0

if (num > 0) :
    print(num, "is greater than zero.")
    num += 10
    print('The new number is : ',num)
else :
    num = 1
    print('The number is : ',num)
    
print("This statement is always printed")

The number is :  1
This statement is always printed

In [28]:
num = -1

if (num > 0) :
    print(num, "is greater than zero.")
else :
     print(num,"is lower than zero.")
    
print("my name is shan")

-1 is lower than zero.
my name is shan

In [14]:
num = -1

if (num > 0) :
    print(num, "is greater than zero.")
else :
    print(num, " is less than or equal to zero.")

print("This statement is always printed")

-1  is less than or equal to zero.
This statement is always printed

In [29]:
## Displaying bus fare based on age group
age = int(input("Enter the age :"))

if (0 <= age < 3) :
    print("There is no bus fare for age group less than 3")
elif (3 <= age < 10) :
    print("The bus fare for age between 3 and 9 is 20")
elif (10 <= age < 20) :
    print("The bus fare for age between 10 and 19 is 25")
else :
    print("The bus fare for age greater than 19 is 30")

Enter the age :10
The bus fare for age between 10 and 19 is 25

In [26]:
## Finding the largest number among the three numbers using nested if else
num1, num2, num3 = 96, 56, 48

print("The given numbers are : ", num1, num2, num3)
if (num1 > num2) :
    if (num1 > num3) :
        print("The largest number is ", num1)
    else :
        print("The largest number is ", num3)

else :
    if (num2 > num3) :
        print("The largest number is ", num2)
    else :
        print("The largest number is ", num3)

The given numbers are :  96 56 48
The largest number is  96

In [3]:
## While Loop
num = 1000
i = 1
total = 0

while (i <= num) :
    print('I = ', i)
    total += i
    print('Total = ', total)
    i += 1
    

## Printing the total value
print("The sum of number between 1 and 10 is ",total)

I =  1
Total =  1
I =  2
Total =  3
I =  3
Total =  6
I =  4
Total =  10
I =  5
Total =  15
I =  6
Total =  21
I =  7
Total =  28
I =  8
Total =  36
I =  9
Total =  45
I =  10
Total =  55
I =  11
Total =  66
I =  12
Total =  78
I =  13
Total =  91
I =  14
Total =  105
I =  15
Total =  120
I =  16
Total =  136
I =  17
Total =  153
I =  18
Total =  171
I =  19
Total =  190
I =  20
Total =  210
I =  21
Total =  231
I =  22
Total =  253
I =  23
Total =  276
I =  24
Total =  300
I =  25
Total =  325
I =  26
Total =  351
I =  27
Total =  378
I =  28
Total =  406
I =  29
Total =  435
I =  30
Total =  465
I =  31
Total =  496
I =  32
Total =  528
I =  33
Total =  561
I =  34
Total =  595
I =  35
Total =  630
I =  36
Total =  666
I =  37
Total =  703
I =  38
Total =  741
I =  39
Total =  780
I =  40
Total =  820
I =  41
Total =  861
I =  42
Total =  903
I =  43
Total =  946
I =  44
Total =  990
I =  45
Total =  1035
I =  46
Total =  1081
I =  47
Total =  1128
I =  48
Total =  1176
I =  49
Total =  1225
I =  50
Total =  1275
I =  51
Total =  1326
I =  52
Total =  1378
I =  53
Total =  1431
I =  54
Total =  1485
I =  55
Total =  1540
I =  56
Total =  1596
I =  57
Total =  1653
I =  58
Total =  1711
I =  59
Total =  1770
I =  60
Total =  1830
I =  61
Total =  1891
I =  62
Total =  1953
I =  63
Total =  2016
I =  64
Total =  2080
I =  65
Total =  2145
I =  66
Total =  2211
I =  67
Total =  2278
I =  68
Total =  2346
I =  69
Total =  2415
I =  70
Total =  2485
I =  71
Total =  2556
I =  72
Total =  2628
I =  73
Total =  2701
I =  74
Total =  2775
I =  75
Total =  2850
I =  76
Total =  2926
I =  77
Total =  3003
I =  78
Total =  3081
I =  79
Total =  3160
I =  80
Total =  3240
I =  81
Total =  3321
I =  82
Total =  3403
I =  83
Total =  3486
I =  84
Total =  3570
I =  85
Total =  3655
I =  86
Total =  3741
I =  87
Total =  3828
I =  88
Total =  3916
I =  89
Total =  4005
I =  90
Total =  4095
I =  91
Total =  4186
I =  92
Total =  4278
I =  93
Total =  4371
I =  94
Total =  4465
I =  95
Total =  4560
I =  96
Total =  4656
I =  97
Total =  4753
I =  98
Total =  4851
I =  99
Total =  4950
I =  100
Total =  5050
I =  101
Total =  5151
I =  102
Total =  5253
I =  103
Total =  5356
I =  104
Total =  5460
I =  105
Total =  5565
I =  106
Total =  5671
I =  107
Total =  5778
I =  108
Total =  5886
I =  109
Total =  5995
I =  110
Total =  6105
I =  111
Total =  6216
I =  112
Total =  6328
I =  113
Total =  6441
I =  114
Total =  6555
I =  115
Total =  6670
I =  116
Total =  6786
I =  117
Total =  6903
I =  118
Total =  7021
I =  119
Total =  7140
I =  120
Total =  7260
I =  121
Total =  7381
I =  122
Total =  7503
I =  123
Total =  7626
I =  124
Total =  7750
I =  125
Total =  7875
I =  126
Total =  8001
I =  127
Total =  8128
I =  128
Total =  8256
I =  129
Total =  8385
I =  130
Total =  8515
I =  131
Total =  8646
I =  132
Total =  8778
I =  133
Total =  8911
I =  134
Total =  9045
I =  135
Total =  9180
I =  136
Total =  9316
I =  137
Total =  9453
I =  138
Total =  9591
I =  139
Total =  9730
I =  140
Total =  9870
I =  141
Total =  10011
I =  142
Total =  10153
I =  143
Total =  10296
I =  144
Total =  10440
I =  145
Total =  10585
I =  146
Total =  10731
I =  147
Total =  10878
I =  148
Total =  11026
I =  149
Total =  11175
I =  150
Total =  11325
I =  151
Total =  11476
I =  152
Total =  11628
I =  153
Total =  11781
I =  154
Total =  11935
I =  155
Total =  12090
I =  156
Total =  12246
I =  157
Total =  12403
I =  158
Total =  12561
I =  159
Total =  12720
I =  160
Total =  12880
I =  161
Total =  13041
I =  162
Total =  13203
I =  163
Total =  13366
I =  164
Total =  13530
I =  165
Total =  13695
I =  166
Total =  13861
I =  167
Total =  14028
I =  168
Total =  14196
I =  169
Total =  14365
I =  170
Total =  14535
I =  171
Total =  14706
I =  172
Total =  14878
I =  173
Total =  15051
I =  174
Total =  15225
I =  175
Total =  15400
I =  176
Total =  15576
I =  177
Total =  15753
I =  178
Total =  15931
I =  179
Total =  16110
I =  180
Total =  16290
I =  181
Total =  16471
I =  182
Total =  16653
I =  183
Total =  16836
I =  184
Total =  17020
I =  185
Total =  17205
I =  186
Total =  17391
I =  187
Total =  17578
I =  188
Total =  17766
I =  189
Total =  17955
I =  190
Total =  18145
I =  191
Total =  18336
I =  192
Total =  18528
I =  193
Total =  18721
I =  194
Total =  18915
I =  195
Total =  19110
I =  196
Total =  19306
I =  197
Total =  19503
I =  198
Total =  19701
I =  199
Total =  19900
I =  200
Total =  20100
I =  201
Total =  20301
I =  202
Total =  20503
I =  203
Total =  20706
I =  204
Total =  20910
I =  205
Total =  21115
I =  206
Total =  21321
I =  207
Total =  21528
I =  208
Total =  21736
I =  209
Total =  21945
I =  210
Total =  22155
I =  211
Total =  22366
I =  212
Total =  22578
I =  213
Total =  22791
I =  214
Total =  23005
I =  215
Total =  23220
I =  216
Total =  23436
I =  217
Total =  23653
I =  218
Total =  23871
I =  219
Total =  24090
I =  220
Total =  24310
I =  221
Total =  24531
I =  222
Total =  24753
I =  223
Total =  24976
I =  224
Total =  25200
I =  225
Total =  25425
I =  226
Total =  25651
I =  227
Total =  25878
I =  228
Total =  26106
I =  229
Total =  26335
I =  230
Total =  26565
I =  231
Total =  26796
I =  232
Total =  27028
I =  233
Total =  27261
I =  234
Total =  27495
I =  235
Total =  27730
I =  236
Total =  27966
I =  237
Total =  28203
I =  238
Total =  28441
I =  239
Total =  28680
I =  240
Total =  28920
I =  241
Total =  29161
I =  242
Total =  29403
I =  243
Total =  29646
I =  244
Total =  29890
I =  245
Total =  30135
I =  246
Total =  30381
I =  247
Total =  30628
I =  248
Total =  30876
I =  249
Total =  31125
I =  250
Total =  31375
I =  251
Total =  31626
I =  252
Total =  31878
I =  253
Total =  32131
I =  254
Total =  32385
I =  255
Total =  32640
I =  256
Total =  32896
I =  257
Total =  33153
I =  258
Total =  33411
I =  259
Total =  33670
I =  260
Total =  33930
I =  261
Total =  34191
I =  262
Total =  34453
I =  263
Total =  34716
I =  264
Total =  34980
I =  265
Total =  35245
I =  266
Total =  35511
I =  267
Total =  35778
I =  268
Total =  36046
I =  269
Total =  36315
I =  270
Total =  36585
I =  271
Total =  36856
I =  272
Total =  37128
I =  273
Total =  37401
I =  274
Total =  37675
I =  275
Total =  37950
I =  276
Total =  38226
I =  277
Total =  38503
I =  278
Total =  38781
I =  279
Total =  39060
I =  280
Total =  39340
I =  281
Total =  39621
I =  282
Total =  39903
I =  283
Total =  40186
I =  284
Total =  40470
I =  285
Total =  40755
I =  286
Total =  41041
I =  287
Total =  41328
I =  288
Total =  41616
I =  289
Total =  41905
I =  290
Total =  42195
I =  291
Total =  42486
I =  292
Total =  42778
I =  293
Total =  43071
I =  294
Total =  43365
I =  295
Total =  43660
I =  296
Total =  43956
I =  297
Total =  44253
I =  298
Total =  44551
I =  299
Total =  44850
I =  300
Total =  45150
I =  301
Total =  45451
I =  302
Total =  45753
I =  303
Total =  46056
I =  304
Total =  46360
I =  305
Total =  46665
I =  306
Total =  46971
I =  307
Total =  47278
I =  308
Total =  47586
I =  309
Total =  47895
I =  310
Total =  48205
I =  311
Total =  48516
I =  312
Total =  48828
I =  313
Total =  49141
I =  314
Total =  49455
I =  315
Total =  49770
I =  316
Total =  50086
I =  317
Total =  50403
I =  318
Total =  50721
I =  319
Total =  51040
I =  320
Total =  51360
I =  321
Total =  51681
I =  322
Total =  52003
I =  323
Total =  52326
I =  324
Total =  52650
I =  325
Total =  52975
I =  326
Total =  53301
I =  327
Total =  53628
I =  328
Total =  53956
I =  329
Total =  54285
I =  330
Total =  54615
I =  331
Total =  54946
I =  332
Total =  55278
I =  333
Total =  55611
I =  334
Total =  55945
I =  335
Total =  56280
I =  336
Total =  56616
I =  337
Total =  56953
I =  338
Total =  57291
I =  339
Total =  57630
I =  340
Total =  57970
I =  341
Total =  58311
I =  342
Total =  58653
I =  343
Total =  58996
I =  344
Total =  59340
I =  345
Total =  59685
I =  346
Total =  60031
I =  347
Total =  60378
I =  348
Total =  60726
I =  349
Total =  61075
I =  350
Total =  61425
I =  351
Total =  61776
I =  352
Total =  62128
I =  353
Total =  62481
I =  354
Total =  62835
I =  355
Total =  63190
I =  356
Total =  63546
I =  357
Total =  63903
I =  358
Total =  64261
I =  359
Total =  64620
I =  360
Total =  64980
I =  361
Total =  65341
I =  362
Total =  65703
I =  363
Total =  66066
I =  364
Total =  66430

I =  365
Total =  66795
I =  366
Total =  67161
I =  367
Total =  67528
I =  368
Total =  67896
I =  369
Total =  68265
I =  370
Total =  68635
I =  371
Total =  69006
I =  372
Total =  69378
I =  373
Total =  69751
I =  374
Total =  70125
I =  375
Total =  70500
I =  376
Total =  70876
I =  377
Total =  71253
I =  378
Total =  71631
I =  379
Total =  72010
I =  380
Total =  72390
I =  381
Total =  72771
I =  382
Total =  73153
I =  383
Total =  73536
I =  384
Total =  73920
I =  385
Total =  74305
I =  386
Total =  74691
I =  387
Total =  75078
I =  388
Total =  75466
I =  389
Total =  75855
I =  390
Total =  76245
I =  391
Total =  76636
I =  392
Total =  77028
I =  393
Total =  77421
I =  394
Total =  77815
I =  395
Total =  78210
I =  396
Total =  78606
I =  397
Total =  79003
I =  398
Total =  79401
I =  399
Total =  79800
I =  400
Total =  80200
I =  401
Total =  80601
I =  402
Total =  81003
I =  403
Total =  81406
I =  404
Total =  81810
I =  405
Total =  82215
I =  406
Total =  82621
I =  407
Total =  83028
I =  408
Total =  83436
I =  409
Total =  83845
I =  410
Total =  84255
I =  411
Total =  84666
I =  412
Total =  85078
I =  413
Total =  85491
I =  414
Total =  85905
I =  415
Total =  86320
I =  416
Total =  86736
I =  417
Total =  87153
I =  418
Total =  87571
I =  419
Total =  87990
I =  420
Total =  88410
I =  421
Total =  88831
I =  422
Total =  89253
I =  423
Total =  89676
I =  424
Total =  90100
I =  425
Total =  90525
I =  426
Total =  90951
I =  427
Total =  91378
I =  428
Total =  91806
I =  429
Total =  92235
I =  430
Total =  92665
I =  431
Total =  93096
I =  432
Total =  93528
I =  433
Total =  93961
I =  434
Total =  94395
I =  435
Total =  94830
I =  436
Total =  95266
I =  437
Total =  95703
I =  438
Total =  96141
I =  439
Total =  96580
I =  440
Total =  97020
I =  441
Total =  97461
I =  442
Total =  97903
I =  443
Total =  98346
I =  444
Total =  98790
I =  445
Total =  99235
I =  446
Total =  99681
I =  447
Total =  100128
I =  448
Total =  100576
I =  449
Total =  101025
I =  450
Total =  101475
I =  451
Total =  101926
I =  452
Total =  102378
I =  453
Total =  102831
I =  454
Total =  103285
I =  455
Total =  103740
I =  456
Total =  104196
I =  457
Total =  104653
I =  458
Total =  105111
I =  459
Total =  105570
I =  460
Total =  106030
I =  461
Total =  106491
I =  462
Total =  106953
I =  463
Total =  107416
I =  464
Total =  107880
I =  465
Total =  108345
I =  466
Total =  108811
I =  467
Total =  109278
I =  468
Total =  109746
I =  469
Total =  110215
I =  470
Total =  110685
I =  471
Total =  111156
I =  472
Total =  111628
I =  473
Total =  112101
I =  474
Total =  112575
I =  475
Total =  113050
I =  476
Total =  113526
I =  477
Total =  114003
I =  478
Total =  114481
I =  479
Total =  114960
I =  480
Total =  115440
I =  481
Total =  115921
I =  482
Total =  116403
I =  483
Total =  116886
I =  484
Total =  117370
I =  485
Total =  117855
I =  486
Total =  118341
I =  487
Total =  118828
I =  488
Total =  119316
I =  489
Total =  119805
I =  490
Total =  120295
I =  491
Total =  120786
I =  492
Total =  121278
I =  493
Total =  121771
I =  494
Total =  122265
I =  495
Total =  122760
I =  496
Total =  123256
I =  497
Total =  123753
I =  498
Total =  124251
I =  499
Total =  124750
I =  500
Total =  125250
I =  501
Total =  125751
I =  502
Total =  126253
I =  503
Total =  126756
I =  504
Total =  127260
I =  505
Total =  127765
I =  506
Total =  128271
I =  507
Total =  128778
I =  508
Total =  129286
I =  509
Total =  129795
I =  510
Total =  130305
I =  511
Total =  130816
I =  512
Total =  131328
I =  513
Total =  131841
I =  514
Total =  132355
I =  515
Total =  132870
I =  516
Total =  133386
I =  517
Total =  133903
I =  518
Total =  134421
I =  519
Total =  134940
I =  520
Total =  135460
I =  521
Total =  135981
I =  522
Total =  136503
I =  523
Total =  137026
I =  524
Total =  137550
I =  525
Total =  138075
I =  526
Total =  138601
I =  527
Total =  139128
I =  528
Total =  139656
I =  529
Total =  140185
I =  530
Total =  140715
I =  531
Total =  141246
I =  532
Total =  141778
I =  533
Total =  142311
I =  534
Total =  142845
I =  535
Total =  143380
I =  536
Total =  143916
I =  537
Total =  144453
I =  538
Total =  144991
I =  539
Total =  145530
I =  540
Total =  146070
I =  541
Total =  146611
I =  542
Total =  147153
I =  543
Total =  147696
I =  544
Total =  148240
I =  545
Total =  148785
I =  546
Total =  149331
I =  547
Total =  149878
I =  548
Total =  150426
I =  549
Total =  150975
I =  550
Total =  151525
I =  551
Total =  152076
I =  552
Total =  152628
I =  553
Total =  153181
I =  554
Total =  153735
I =  555
Total =  154290
I =  556
Total =  154846
I =  557
Total =  155403
I =  558
Total =  155961
I =  559
Total =  156520
I =  560
Total =  157080
I =  561
Total =  157641
I =  562
Total =  158203
I =  563
Total =  158766
I =  564
Total =  159330
I =  565
Total =  159895
I =  566
Total =  160461
I =  567
Total =  161028
I =  568
Total =  161596
I =  569
Total =  162165
I =  570
Total =  162735
I =  571
Total =  163306
I =  572
Total =  163878
I =  573
Total =  164451
I =  574
Total =  165025
I =  575
Total =  165600
I =  576
Total =  166176
I =  577
Total =  166753
I =  578
Total =  167331
I =  579
Total =  167910
I =  580
Total =  168490
I =  581
Total =  169071
I =  582
Total =  169653
I =  583
Total =  170236
I =  584
Total =  170820
I =  585
Total =  171405
I =  586
Total =  171991
I =  587
Total =  172578
I =  588
Total =  173166
I =  589
Total =  173755
I =  590
Total =  174345
I =  591
Total =  174936
I =  592
Total =  175528
I =  593
Total =  176121
I =  594
Total =  176715
I =  595
Total =  177310
I =  596
Total =  177906
I =  597
Total =  178503
I =  598
Total =  179101
I =  599
Total =  179700
I =  600
Total =  180300
I =  601
Total =  180901
I =  602
Total =  181503
I =  603
Total =  182106
I =  604
Total =  182710
I =  605
Total =  183315
I =  606
Total =  183921
I =  607
Total =  184528
I =  608
Total =  185136
I =  609
Total =  185745
I =  610
Total =  186355
I =  611
Total =  186966
I =  612
Total =  187578
I =  613
Total =  188191
I =  614
Total =  188805
I =  615
Total =  189420
I =  616
Total =  190036
I =  617
Total =  190653
I =  618
Total =  191271
I =  619
Total =  191890
I =  620
Total =  192510
I =  621
Total =  193131
I =  622
Total =  193753
I =  623
Total =  194376
I =  624
Total =  195000
I =  625
Total =  195625
I =  626
Total =  196251
I =  627
Total =  196878
I =  628
Total =  197506
I =  629
Total =  198135
I =  630
Total =  198765
I =  631
Total =  199396
I =  632
Total =  200028
I =  633
Total =  200661
I =  634
Total =  201295
I =  635
Total =  201930
I =  636
Total =  202566
I =  637
Total =  203203
I =  638
Total =  203841
I =  639
Total =  204480
I =  640
Total =  205120
I =  641
Total =  205761
I =  642
Total =  206403
I =  643
Total =  207046
I =  644
Total =  207690
I =  645
Total =  208335
I =  646
Total =  208981
I =  647
Total =  209628
I =  648
Total =  210276
I =  649
Total =  210925
I =  650
Total =  211575
I =  651
Total =  212226
I =  652
Total =  212878
I =  653
Total =  213531
I =  654
Total =  214185
I =  655
Total =  214840
I =  656
Total =  215496
I =  657
Total =  216153
I =  658
Total =  216811
I =  659
Total =  217470
I =  660
Total =  218130
I =  661
Total =  218791
I =  662
Total =  219453
I =  663
Total =  220116
I =  664
Total =  220780
I =  665
Total =  221445
I =  666
Total =  222111
I =  667
Total =  222778
I =  668
Total =  223446
I =  669
Total =  224115
I =  670
Total =  224785
I =  671
Total =  225456
I =  672
Total =  226128
I =  673
Total =  226801
I =  674
Total =  227475
I =  675
Total =  228150
I =  676
Total =  228826
I =  677
Total =  229503
I =  678
Total =  230181
I =  679
Total =  230860
I =  680
Total =  231540
I =  681
Total =  232221
I =  682
Total =  232903
I =  683
Total =  233586
I =  684
Total =  234270
I =  685
Total =  234955
I =  686
Total =  235641
I =  687
Total =  236328
I =  688
Total =  237016
I =  689
Total =  237705
I =  690
Total =  238395
I =  691
Total =  239086
I =  692
Total =  239778
I =  693
Total =  240471
I =  694
Total =  241165
I =  695
Total =  241860
I =  696
Total =  242556
I =  697
Total =  243253
I =  698
Total =  243951
I =  699
Total =  244650
I =  700
Total =  245350
I =  701
Total =  246051
I =  702
Total =  246753
I =  703
Total =  247456
I =  704
Total =  248160
I =  705
Total =  248865
I =  706
Total =  249571
I =  707
Total =  250278
I =  708
Total =  250986
I =  709
Total =  251695
I =  710
Total =  252405
I =  711
Total =  253116
I =  712
Total =  253828
I =  713
Total =  254541
I =  714
Total =  255255
I =  715
Total =  255970
I =  716
Total =  256686
I =  717
Total =  257403
I =  718
Total =  258121
I =  719
Total =  258840
I =  720
Total =  259560
I =  721
Total =  260281
I =  722
Total =  261003
I =  723
Total =  261726
I =  724
Total =  262450
I =  725
Total =  263175
I =  726
Total =  263901
I =  727
Total =  264628
I =  728
Total =  265356
I =  729
Total =  266085
I =  730
Total =  266815
I =  731
Total =  267546
I =  732
Total =  268278
I =  733
Total =  269011
I =  734
Total =  269745
I =  735
Total =  270480
I =  736
Total =  271216
I =  737
Total =  271953
I =  738
Total =  272691
I =  739
Total =  273430
I =  740
Total =  274170
I =  741
Total =  274911
I =  742
Total =  275653
I =  743
Total =  276396
I =  744
Total =  277140
I =  745
Total =  277885
I =  746
Total =  278631
I =  747
Total =  279378
I =  748
Total =  280126
I =  749
Total =  280875
I =  750
Total =  281625
I =  751
Total =  282376
I =  752
Total =  283128
I =  753
Total =  283881
I =  754
Total =  284635
I =  755
Total =  285390
I =  756
Total =  286146
I =  757
Total =  286903
I =  758
Total =  287661
I =  759
Total =  288420
I =  760
Total =  289180
I =  761
Total =  289941
I =  762
Total =  290703
I =  763
Total =  291466
I =  764
Total =  292230
I =  765
Total =  292995
I =  766
Total =  293761
I =  767
Total =  294528
I =  768
Total =  295296
I =  769
Total =  296065
I =  770
Total =  296835
I =  771
Total =  297606
I =  772
Total =  298378
I =  773
Total =  299151
I =  774
Total =  299925
I =  775
Total =  300700
I =  776
Total =  301476
I =  777
Total =  302253
I =  778
Total =  303031
I =  779
Total =  303810
I =  780
Total =  304590
I =  781
Total =  305371
I =  782
Total =  306153
I =  783
Total =  306936
I =  784
Total =  307720
I =  785
Total =  308505
I =  786
Total =  309291
I =  787
Total =  310078
I =  788
Total =  310866
I =  789
Total =  311655
I =  790
Total =  312445
I =  791
Total =  313236
I =  792
Total =  314028
I =  793
Total =  314821
I =  794
Total =  315615
I =  795
Total =  316410
I =  796
Total =  317206
I =  797
Total =  318003
I =  798
Total =  318801
I =  799
Total =  319600
I =  800
Total =  320400
I =  801
Total =  321201
I =  802
Total =  322003
I =  803
Total =  322806
I =  804
Total =  323610
I =  805
Total =  324415
I =  806
Total =  325221
I =  807
Total =  326028
I =  808
Total =  326836
I =  809
Total =  327645
I =  810
Total =  328455
I =  811
Total =  329266
I =  812
Total =  330078
I =  813
Total =  330891
I =  814
Total =  331705
I =  815
Total =  332520
I =  816
Total =  333336
I =  817
Total =  334153
I =  818
Total =  334971
I =  819
Total =  335790
I =  820
Total =  336610
I =  821
Total =  337431
I =  822
Total =  338253
I =  823
Total =  339076
I =  824
Total =  339900
I =  825
Total =  340725
I =  826
Total =  341551
I =  827
Total =  342378
I =  828
Total =  343206
I =  829
Total =  344035
I =  830
Total =  344865
I =  831
Total =  345696
I =  832
Total =  346528
I =  833
Total =  347361
I =  834
Total =  348195
I =  835
Total =  349030
I =  836
Total =  349866
I =  837
Total =  350703
I =  838
Total =  351541
I =  839
Total =  352380
I =  840
Total =  353220
I =  841
Total =  354061
I =  842
Total =  354903
I =  843
Total =  355746
I =  844
Total =  356590
I =  845
Total =  357435
I =  846
Total =  358281
I =  847
Total =  359128
I =  848
Total =  359976
I =  849
Total =  360825
I =  850
Total =  361675
I =  851
Total =  362526
I =  852
Total =  363378
I =  853
Total =  364231
I =  854
Total =  365085
I =  855
Total =  365940
I =  856
Total =  366796
I =  857
Total =  367653
I =  858
Total =  368511
I =  859
Total =  369370
I =  860
Total =  370230
I =  861
Total =  371091
I =  862
Total =  371953
I =  863
Total =  372816
I =  864
Total =  373680
I =  865
Total =  374545
I =  866
Total =  375411
I =  867
Total =  376278
I =  868
Total =  377146
I =  869
Total =  378015
I =  870
Total =  378885
I =  871
Total =  379756
I =  872
Total =  380628
I =  873
Total =  381501
I =  874
Total =  382375
I =  875
Total =  383250
I =  876
Total =  384126
I =  877
Total =  385003
I =  878
Total =  385881
I =  879
Total =  386760
I =  880
Total =  387640
I =  881
Total =  388521
I =  882
Total =  389403
I =  883
Total =  390286
I =  884
Total =  391170
I =  885
Total =  392055
I =  886
Total =  392941
I =  887
Total =  393828
I =  888
Total =  394716
I =  889
Total =  395605
I =  890
Total =  396495
I =  891
Total =  397386
I =  892
Total =  398278
I =  893
Total =  399171
I =  894
Total =  400065
I =  895
Total =  400960
I =  896
Total =  401856
I =  897
Total =  402753
I =  898
Total =  403651
I =  899
Total =  404550
I =  900
Total =  405450
I =  901
Total =  406351
I =  902
Total =  407253
I =  903
Total =  408156
I =  904
Total =  409060
I =  905
Total =  409965
I =  906
Total =  410871
I =  907
Total =  411778
I =  908
Total =  412686
I =  909
Total =  413595

I =  910
Total =  414505
I =  911
Total =  415416
I =  912
Total =  416328
I =  913
Total =  417241
I =  914
Total =  418155
I =  915
Total =  419070
I =  916
Total =  419986
I =  917
Total =  420903
I =  918
Total =  421821
I =  919
Total =  422740
I =  920
Total =  423660
I =  921
Total =  424581
I =  922
Total =  425503
I =  923
Total =  426426
I =  924
Total =  427350
I =  925
Total =  428275
I =  926
Total =  429201
I =  927
Total =  430128
I =  928
Total =  431056
I =  929
Total =  431985
I =  930
Total =  432915
I =  931
Total =  433846
I =  932
Total =  434778
I =  933
Total =  435711
I =  934
Total =  436645
I =  935
Total =  437580
I =  936
Total =  438516
I =  937
Total =  439453
I =  938
Total =  440391
I =  939
Total =  441330
I =  940
Total =  442270
I =  941
Total =  443211
I =  942
Total =  444153
I =  943
Total =  445096
I =  944
Total =  446040
I =  945
Total =  446985
I =  946
Total =  447931
I =  947
Total =  448878
I =  948
Total =  449826
I =  949
Total =  450775
I =  950
Total =  451725
I =  951
Total =  452676
I =  952
Total =  453628
I =  953
Total =  454581
I =  954
Total =  455535
I =  955
Total =  456490
I =  956
Total =  457446
I =  957
Total =  458403
I =  958
Total =  459361
I =  959
Total =  460320
I =  960
Total =  461280
I =  961
Total =  462241
I =  962
Total =  463203
I =  963
Total =  464166
I =  964
Total =  465130
I =  965
Total =  466095
I =  966
Total =  467061
I =  967
Total =  468028
I =  968
Total =  468996
I =  969
Total =  469965
I =  970
Total =  470935
I =  971
Total =  471906
I =  972
Total =  472878
I =  973
Total =  473851
I =  974
Total =  474825
I =  975
Total =  475800
I =  976
Total =  476776
I =  977
Total =  477753
I =  978
Total =  478731
I =  979
Total =  479710
I =  980
Total =  480690
I =  981
Total =  481671
I =  982
Total =  482653
I =  983
Total =  483636
I =  984
Total =  484620
I =  985
Total =  485605
I =  986
Total =  486591
I =  987
Total =  487578
I =  988
Total =  488566
I =  989
Total =  489555
I =  990
Total =  490545
I =  991
Total =  491536
I =  992
Total =  492528
I =  993
Total =  493521
I =  994
Total =  494515
I =  995
Total =  495510
I =  996
Total =  496506
I =  997
Total =  497503
I =  998
Total =  498501
I =  999
Total =  499500
I =  1000
Total =  500500
The sum of number between 1 and 10 is  500500

In [38]:
## For Loop
num = range(1, 11)
print(list(range(1,11)))
i = 1
total = 0



for i in num :
    total += i
    i += 1

marks = [ 'john', 'aravind']
total_marks = 0
for x in marks:
    print(x[0])
    
print('Total Marks : ', total_marks)    
## Printing the total value
print("The sum of number between 1 and 10 is ",total)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
j
a
Total Marks :  0
The sum of number between 1 and 10 is  55

In [9]:
## Nested Loops
level = int(input("Enter level : "))

for l in range(1,level + 1) :
    for num in range(l) :
        print(l, end=" ")
    print('\n')

Enter level : 10
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

10 10 10 10 10 10 10 10 10 10

In [2]:
## Printing 2 power 7 value
print(2 ** 7)

print(2 * 2 * 2 * 2 * 2 * 2* 2)

128
128

In [47]:
num = list(range(1, 11))
print(num)

for i in num:
    print(i)
    if (i > 5 ) :
        break

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5

In [ ]:
i, total = 1, 0
while(True) :
    num = int(input("Enter Num for summation or 0 or exit : "))
    if (num <= 0) :
        break
    print("The given number is : ", num)

#print(total)

Enter Num for summation or 0 or exit : 10
The given number is :  10